@import "tailwindcss";

:root {
  --font-sans: var(--font-outfit);
}
::-webkit-scrollbar {
  width: 0px;
}
/* ::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 9999px;
} */
body {
  font-family: var(--font-sans), sans-serif;
}
